git+https://github.com/pylangacq/pylangacq.git
beautifulsoup4
fuzzywuzzy
gensim
jupyter
jupyterlab
jupyter_nbextensions_configurator
markdown
matplotlib
networkx
nltk
numpy
pandas
regex
scipy
scikit-learn
tweepy
wordcloud
yellowbrick